# Gradle
.gradle

# IntelliJ .idea folder
.idea/
gradle.xml
*.iml
/local.properties

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# VS Code config
org.eclipse.buildship.core.prefs
.classpath
.project
bin/
